@if(true){
<table class="table">
    <thead>
        <tr></tr>
    </thead>
    <tbody>

    </tbody>
</table>
}
<button class="btn btn-dark mr-2">Show Task</button>
<button class="btn btn-dark mr-2">Hide Task</button>
@code{

//Add your code here

}
